{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $gamesStyle := resources.Get "scss/games.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $gamesStyle.Permalink }}">
{{ $style := resources.Get "scss/applications.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<section class="home-header" class="my-5">
  <div class="content">
    <img src="/app-icons/categories/games.svg" alt="" width="200">
    <h1>{{ i18n "games.title" }}</h1>
    <h4>{{ i18n "games.subtitle" }}</h4>
  </div>
</section>

<main>
  {{- $games_subcats := dict }}
  {{- $pages := .Site.RegularPages }}
  {{- if ne .Site .Sites.First }}
    {{- $pages = $pages | lang.Merge .Sites.First.RegularPages }}
  {{- end }}
  {{- $gamePages := where (where $pages "Section" "applications") "Params.categories" "intersect" (slice "games") }}
  {{- range $.Site.Data.games_subcats }}
    {{- $subcat := . }}
    {{- $games := slice }}
    {{- range $gamePages }}
      {{- if in .Params.subcategories (print "games-" $subcat) }}
        {{- $games = $games | append . }}
      {{- end }}
    {{- end }}
    {{- if gt (len $games) 0 }}
      {{- $games_subcats = merge $games_subcats (dict $subcat $games) }}
    {{- end }}
  {{- end }}

  <div class="container mt-4">
    <p>{{ i18n "games.intro1" | markdownify }}</p>
    <p>{{ i18n "games.intro2" | markdownify }}</p>
    <p>{{ i18n "games.intro3" | markdownify }}</p>

    <div class="home-section mt-5 mx-auto col-lg-10">
      <img src="/games/play.svg" class="img-fluid">
      <div>
        <h2>{{ i18n "games.play" }}</h2>
        <p>{{ i18n "games.play.text" }}</p>
      </div>
    </div>

    <div class="home-section section-choose mx-auto col-lg-10">
      <div>
        <h2>{{ i18n "games.choose" }}</h2>
        <p>
          {{ i18n "games.choose.text" | markdownify }}
          {{- $subcatLinks := slice }}
          {{- range $subcat, $games := $games_subcats }}
            {{- $subcatLinks = $subcatLinks | append (printf "[%s](#%s)" (i18n (print "games-" $subcat)) (anchorize $subcat)) }}
          {{- end }}
          {{- $subcatLinks = $subcatLinks | append (printf "[%s](https://games.kde.org/old/)" (i18n "games.old")) }}
          {{ delimit $subcatLinks (i18n "string.list.separator") (i18n "string.list.last.separator") | markdownify }}
        </p>
      </div>
      <img src="/games/choose.svg" class="img-fluid">
    </div>

    <div class="home-section mb-5 mx-auto col-lg-10">
      <img src="/games/contribute.png" class="img-fluid px-5">
      <div>
        <h2>{{ i18n "games.contribute" }}</h2>
        <p>{{ i18n "games.contribute.text" | markdownify }}</p>
      </div>
    </div>
  </div>

  <div class="section-blue py-3">
    <h2 class="text-center">{{ i18n "games.all" }}</h2>
  {{- $page := . }}
  {{- range $subcat, $games := $games_subcats }}
    <section class="container">
      <h3 id="{{ anchorize $subcat }}">{{ i18n (print "games-" $subcat) }}</h3>
      <div class="applications">
      {{- range $games }}
        {{ partial "app_tile.html" . }}
      {{- end }}
      </div>
    </section>
  {{- end }}
  </div>
</main>
{{ end }}
