{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021-2022 Phu Hung Nguyen <phu.nguyen@kdemail.net>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{- with (partial "fn/i18n_data" (slice "games" .File.TranslationBaseName)) }}
<h2>{{ i18n "games.additional" }}</h2>
{{- index . "howto" | markdownify }}
{{- end }}

{{ if gt (len .Params.releases) 0 }}
  <h2 class="mb-0 d-flex">
    {{ i18n "releases" }}
    {{ with  .OutputFormats.Get "rss" -}}
      <a href="{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer" class="ms-auto post-feed" style="font-size: 1rem">
        RSS <i class="icon icon_rss"></i>
      </a>
    {{ end }}
  </h2>
{{ end }}
{{ $index := 0 }}
{{ range .Params.releases }}
  {{ if or .description .artifacts }}
  <details class="release" {{ if eq $index 0 }}open="true"{{ end }} id="{{ .version }}">
    <summary class="mt-1 h5">
      {{ .version }}
      <small class="text-muted">{{ .date }}</small>
    </summary>

    {{ with .description }}
      {{ . | markdownify }}
    {{ end }}

    {{ with .url }}
      <div><a class="learn-more" href="{{ . }}">{{ i18n "learn-more" }}</a></div>
    {{ end }}
    {{ range .artifacts }}
      <div class="mb-2">
          {{ $size := "" }}
          {{ if and .size .size.download }}
            {{ $size = printf "(%.2f mb)" (div .size.download 1000000.0) }}
          {{ end }}
          {{ if eq .type "binary" }}
            <h4 class="mb-0">
            {{ if or (eq .platform "x86_64-appimage") (eq .platform "x86_64-linux-gnu") }}
              {{ i18n "AppImage" }} - <small class="text-muted">x86_64 {{ $size }}</small>
            {{ else if eq .platform "macOS" }}
              {{ i18n "macOS" }} - <small class="text-muted">x86_64 {{ $size }}</small>
            {{ else if eq .platform "win64" }}
              {{ i18n "windows" }} - <small class="text-muted">win64 {{ $size }}</small>
            {{ else if eq .platform "win32" }}
              {{ i18n "windows" }} - <small class="text-muted">win32 {{ $size }}</small>
            {{ else if hasPrefix .platform "android" }}
              {{ $arch := index (split .platform "-") 1 }}
              {{ i18n "android" }} - <small class="text-muted">{{ $arch }} {{ $size }}</small>
            {{ end }}
            </h4>
            <div><a href="{{ index .locations 0 }}">{{ index .locations 0 }}</a></div>
            {{ range $algo, $checksum := .checksum }}
              <div><strong>{{ $algo }}:</strong> {{ $checksum }}</div>
            {{ end }}
          {{ else }}
            <h4 class="mb-0">Source</h4>
            <div><a href="{{ index .locations 0 }}">{{ index .locations 0 }}</a></div>
            {{ range $algo, $checksum := .checksum }}
              <strong>{{ $algo }}:</strong> {{ $checksum }}
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
  </details>
  {{ else }}
    <div class="ms-4 release mt-1 h5">
      {{ .version }}
      <small class="text-muted">{{ .date }}</small>
    </div>
  {{ end }}
{{ end }}

{{ $addonPages := where .Site.RegularPages "Params.apptype" "addon" }}
{{ if ne .Site .Sites.First }}
  {{ $enAddonPages := where .Sites.First.RegularPages "Params.apptype" "addon" }}
  {{ $addonPages = $addonPages | lang.Merge $enAddonPages }}
{{ end }}
{{ $extensions := where $addonPages "Params.extends" "intersect" (slice .Params.id) }}
{{ if gt (len $extensions) 0 }}
  <h2 class="mb-0">{{ i18n "extensions" }}</h2>
  {{ range $extensions }}
  <div class="container d-flex align-items-center">
    {{ if .Params.icon }}
    {{ partial "icon" (dict "type" "app" "icon" .Params.icon "size" "48" "class" "me-2" "name" .Params.name) }}
    {{ end }}
    <div>
    <h3 class="h4"><a href="{{ .Permalink }}">{{ .Params.name }}</a></h3>
    <p>{{ .Params.summary }}</p>
    </div>
  </div>
  {{ end }}
{{ end }}
