{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu.nguyen@kdemail.net>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ $name := .Params.name }}
<aside class="details col-12 col-md-4 col-lg-3">
  <h3>{{ partial "fn/i18n_args" (slice "details" $name) }}</h3>
  {{ with .Params.homepage }}
    {{ if and (not (in . "www.kde.org")) (not (in . "https://kde.org")) (not (in . "apps.kde.org")) }}
      <div>
        <a href="{{ . }}">
          {{ i18n "website" }}
        </a>
      </div>
    {{ end }}
  {{ end }}
  {{ with .Params.latestStableRelease }}
    <h4>{{ i18n "latestStableRelease" }}</h4>
    {{ .version }} <br/>
    {{ .date }}
  {{ end }}
  {{ with .Params.latestDevelopmentRelease }}
    <h4>{{ i18n "latestDevelopmentRelease" }}</h4>
    {{ .version }} <br/>
    {{ .date }}
  {{ end }}
  {{ with .Params.ProjectLicense }}
    <h4>{{ i18n "License" }}</h4>
    {{- $licenses := split . " " }}
    {{- $joints := slice "and" "AND" "or" "OR" }}
    {{- range $index, $license := $licenses }}
      {{- if and $index (not (in $joints $license)) }}
        {{ print " | " }}
      {{- end }}
      {{- if hasPrefix $license "LicenseRef-KDE-Accepted-" }}
    <a itemprop="license" href="https://community.kde.org/Policies/Licensing_Policy#{{ $license }}">{{ $license }}</a>
      {{- else if not (in $joints $license) }}
    <a itemprop="license" href="https://spdx.org/licenses/{{ $license }}.html">{{ $license }}</a>
      {{- end }}
    {{- end }}
  {{ end }}
  {{ if or .Params.help .Params.forum }}
    <h4>{{ i18n "get-help" }}</h4>
    {{ with .Params.help }}
      <a href="{{ . }}">
        {{ partial "fn/i18n_args" (slice "handbook" $name) }}
      </a>
      <br/>
    {{ end }}
    {{ with .Params.forum }}
      <a href="https://forum.kde.org/viewforum.php?f={{ . }}">
        {{ i18n "forum" }}
      </a>
      <br/>
    {{ end }}
  {{ end }}
  <h4>{{ i18n "contact" }}</h4>
  <div>
    <a href="{{ .Params.bugtracker | default "https://bugs.kde.org/enter_bug.cgi" }}">
      {{ i18n "report" }}
    </a>
  </div>
  {{ with .Params.matrixChannel }}
    {{ i18n "matrix" }}
    <a href="https://webchat.kde.org/#/room/{{ . }}">
      {{ . }}
    </a>
    <br/>
  {{ end }}
  {{- $ircData := "" }}
  {{- $mlData := "" }}
  {{- $develMlData := "" }}
  {{- $id := .Params.id }}
  {{- with (index site.Data.contacts $id) }}
    {{- $ircData = index . "irc" }}
    {{- $mlData = index . "ml" }}
    {{- $develMlData = index . "ml-devel" }}
  {{- end }}
  {{ with (or .Params.irc $ircData) }}
    {{ i18n "irc" }}
      {{/* In the absence of an official irc: scheme, most clients assume the leading # is not part of the url */}}
      {{ $urlChannelName := . }}
      {{ if hasPrefix $urlChannelName "#" }}
        {{ $urlChannelName = substr $urlChannelName 1 }}
      {{ end }}
      <a href="irc://irc.libera.chat/{{ $urlChannelName }}">
        {{ . }}
      </a> {{ i18n "on-irc-network" }}<br/>
  {{ end }}
  {{ with (or .Params.mailinglist $mlData) }}
    {{ i18n "mailingList" }}
    {{ $ml := partial "fn/ml" . }}
    <a href="{{ index $ml 0 }}">
      {{ index $ml 1 }}
    </a> {{ index $ml 2 }} <br/>
  {{ end }}
  {{ with (or .Params.develMailingList $develMlData) }}
    {{ i18n "develMailingList" }}
    {{ $ml := partial "fn/ml" . }}
    <a href="{{ index $ml 0 }}">
      {{ index $ml 1 }}
    </a> {{ index $ml 2 }}
    <br/>
  {{ end }}
  {{ with .Params.authors }}
    <div>
      <b>{{ i18n "authors" }}</b>
      <ul class="inline-list">
        {{ range . }}
          <li itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ index . 1 }}</span>
            {{ with index . 3 }}
              (<a itemprop="url" href="{{ . }}">{{ . }}</a>)
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
  {{ with .Params.credits  }}
    <div>
      <b>{{ i18n "details.thanks" }}</b>
      <ul class="inline-list">
        {{ range . }}
          <li itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ index . 1 }}</span>
            {{ with index . 3 }}
              (<a itemprop="url" href="{{ . }}">{{ . }}</a>)
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
  <div class="mt-3">
    <a href="https://invent.kde.org/{{ .Params.Repository }}">
      {{ i18n "source" . }}
    </a>
  </div>
</aside>
